body{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0f0f0f;
    padding: 20px;
}

#puzzle-container,
#dropzone {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin: 10px 0;
}

.puzzle-piece {
    width: 100px;
    height: 100px;
    background-size: 300px 300px;
    border: 1px solid #ddd;
    cursor: grab;
    position: relative;
}


.drop-target {
    width: 100px;
    height: 100px;
    border: 1px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#completion-video {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

#completion-video video {
    max-width: 90%;
    max-height: 90%;
}

@media (max-width: 600px) {
    #puzzle-container,
    #dropzone {
        grid-template-columns: repeat(3, 70px);
        grid-template-rows: repeat(3, 70px);
        gap: 10px;
        margin-bottom: 5px;
    }

    .puzzle-piece,
    .drop-target {
        width: 70px;
        height: 70px;
        background-size: 210px 210px;
        border-width: 1px;
        cursor: grab;
        position: relative;
    }
}